<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>     
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/39094056?query=java">Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/38764919?query=java">Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ООО Netronic (Forpost)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/38711238?query=java">Expert Java Developer for Ciklum Digital</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/38891216?query=java">Senior Java Developer for Ciklum Digital</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/38932398?query=java">Team Lead / Senior JavaScript Developer for Imunify UI Team</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Cloud Linux</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/38870874?query=java">Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/38797481?query=java">Middle / Senior Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/38601852?query=java">Java Middle Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Itransition</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/38768971?query=java">Junior Flutter (JavaScript) developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ИП Devsteam.mobi</td> 
     <td class="salary">11&nbsp;200-28&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/38768973?query=java">JavaScript Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ИП Devsteam.mobi</td> 
     <td class="salary">11&nbsp;200-28&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>